@import "vars";
@import "global";
@import "fonts";

/* Header
================================= */

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: white;
    font-size: 14px;
  }
}

/* Search
================================= */

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  padding: 155px 0 100px;
  color: white;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
}

.search__inner-form {
  max-width: 670px;
  margin: 0 auto;
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 56px;
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0 60px 0 25px;
    &::placeholder {
      color: #90a4ae;
      font-weight: 500;
    }
  }
  button {
    position: absolute;
    border: none;
    background-color: transparent;
    right: 20px;
    top: 16px;
  }
}

/* Product
================================= */

.product {
  padding: 110px 0;
  background-color: $grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: white;
      outline: none;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 90px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    color: $bg;
    font-size: 18px;
    display: block;
  }
  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }
  &-price {
    font-size: 20px;
    color: $bg;
    font-weight: 700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 250px;
    .avatar {
      display: inline-block;
      min-width: 30px;
      height: 30px;
      margin-right: 14px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &-star {
    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: white;
      outline: none;
    }
  }
}

/* Start-Product-Slider
================================= */

.product-slider {
  padding: 110px 0 120px;
  .slick-dots {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }

      button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #e8e8e8;
        cursor: pointer;
        outline: none;
        color: transparent;
      }
    }
  }
}

/* End-Product-Slider
================================= */

/* Advanatages
================================= */

.advanatages {
  background-color: $bg;
  padding: 110px 0;
}

.advanatages__title {
  color: white;
  text-align: center;
  @include f700;
  font-size: 36px;
  margin-bottom: 83px;
}
.advanatages__inner {
  display: flex;
  justify-content: space-between;
}
.advanatages__item {
  max-width: 370px;
  text-align: center;
  padding: 0 15px;
  &:hover {
    .advanatages__item-img {
      background-color: $green;
    }
    .advanatages__item-title {
      color: $green;
    }
    .advanatages__item-img {
      g {
        fill: white;
      }
    }
  }
  &-img {
    width: 113px;
    height: 113px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 33px;
    transition: all 0.3s;
  }
  &-title {
    margin-bottom: 25px;
    @include f500;
    font-size: 24px;
    color: white;
    transition: all 0.3s;
  }
  &-text {
    font-size: 15px;
  }
}

.icosvg-1 {
  svg {
    width: 50px;
    transition: all 0.3s;
  }
}

.icosvg-2 {
  svg {
    width: 71px;
    transition: all 0.3s;
  }
}

.icosvg-3 {
  svg {
    width: 86px;
    transition: all 0.3s;
  }
}

/* Author
================================= */

.author {
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 761px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 653px;
    width: 100%;
    min-height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8bc34a;
  }
  &__title {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    margin-right: 48px;
    max-width: 260px;
    span {
      @include f700;
    }
  }
  &__link {
    color: #263238;
    font-size: 18px;
    background-color: #ffffff;
    padding: 25px 43px;
  }
}

/* Tutorial
================================= */

.tutorial {
  padding: 50px 0 120px;
}

.tutorial__inner {
  display: flex;
  justify-content: space-between;
}
.tutorial__item {
  max-width: 370px;
  width: 100%;
}

.tutorial__item-images {
  min-height: 270px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tutorial__item-title {
  text-align: center;
  color: #263238;
  @include f700;
  font-size: 24px;
  background-color: #f8f8f8;
  padding: 37px 10px;
}

/* Footer
================================= */

.footer {
  background-color: $bg;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 116px 0 100px;
}
.footer__col {
  max-width: 270px;
  width: 100%;
  &-menu {
    max-width: 220px;
  }
  &-title {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: $green;
      height: 3px;
      width: 51px;
      bottom: 0;
      left: 3px;
    }
  }
  &-text {
    color: #b7c3c8;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.footer__info {
  margin-top: 18px;
  @include f500;
  padding-left: 30px;
  color: #fff;
  position: relative;
  &::before {
    content: "\f041";
    font-family: "icomoon";
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }
}

.footer__info-phone {
  &::before {
    content: "\f095";
  }
}

.footer__col-list {
  a {
    margin-bottom: 15px;
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    &::before {
      content: "\f105";
      font-size: 18px;
      position: absolute;
      left: 0;
      color: $green;
      font-family: "icomoon";
    }
  }
}

.footer__copy {
  border-top: 1px solid #424d53;
}
.footer__copy-text {
  padding: 27px 0 32px;
  text-align: center;
  color: #919699;
  font-size: 15px;
  font-weight: 400;
}

.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/css_sprites.png);
  }
}

.link-twitter {
  background-position: -28px -0;
}
.link-youtube {
  background: -0 -28px;
}
.link-pinterest {
  background-position: -28px -28px;
}
.link-linkedin {
  background-position: -56px -0;
}

.footer__form-title {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__form {
  position: relative;
  input {
    display: block;
    width: 100%;
    width: 261px;
    height: 40px;
    background-color: #2f3c43;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding-left: 13px;
    padding-right: 50px;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    height: 40px;
    border: none;
    width: 43px;
    cursor: pointer;
    &::before {
      content: "\f124";
      position: absolute;
      font-family: "icomoon";
      font-size: 20px;
      color: #fff;
      top: 11px;
      left: 13px;
    }
  }
}

/* Product-page
================================= */

.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}

.aside__title {
  border-bottom: 1px solid #d7d7d7;
  color: #263238;
  font-size: 20px;
  font-weight: 700;
  padding: 22px 0 19px;
}

.category__list {
  padding-top: 10px;
  li {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    &::before {
      content: "\f105";
      font-size: 18px;
      position: absolute;
      left: 0;
      color: #8bc34a;
      font-family: "icomoon";
    }
  }
  a {
    color: #263238;
    font-size: 15px;
  }
  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}

.price-range {
  form {
    padding: 20px 0 25px;
  }
  button {
    margin-top: 55px;
    padding: 15px 10px;
    background-color: $green;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    position: relative;
    &::before {
      content: "\f002";
      font-size: 15px;
      position: absolute;
      top: 15px;
      left: 58px;
      color: #fff;
      font-family: "icomoon";
    }
  }
}

.irs-max,
.irs-min {
  display: none;
}

.irs--flat .irs-line {
  height: 5px;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  height: 5px;
  background-color: #37474f;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs--flat .irs-handle {
  top: 19px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  border-radius: 50%;
}

.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0px 0px;
  background-color: transparent;
  border-radius: 0px;
}

.product-page__aside {
  .product__item-img {
    min-height: 120px;
  }
  .product__item {
    box-shadow: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .product__item-info {
    padding: 0;
  }
  .product__item-title {
    color: #263238;
    font-size: 16px;
    font-weight: 700;
  }
  .product__item-category {
    font-size: 14px;
  }
  .product__item-price {
    font-size: 15px;
  }
  .product__item-starnum {
    display: none;
  }
  .rate-star {
    margin-right: 0;
  }
  .product__item-author .avatar {
    margin-right: 9px;
  }
  .jq-ry-container {
    padding: 0;
  }
}

.aside__product-item {
  .product__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .product__item:first-child {
    margin-top: 25px;
  }
}

.top-sellers__link {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  background-color: #8bc34a;
  padding: 16px 18px;
  display: block;
}

.product-page__filter {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    &.active {
      color: #8bc34a;
    }
  }
}

.product-page__filter-sort {
  font-size: 14px;
  color: #707070;
  display: flex;
  align-items: center;
}

button.icon-sort-amount-desc {
  font-size: 18px;
  color: #455a64;
  margin-right: 12px;
}

button.icon-unsorted {
  font-size: 14px;
  color: #707070;
  margin-left: 14px;
}

.product-page__content {
  width: 100%;
}

.product-page__content {
  .product__item {
    max-width: 270px;
    background-color: #fff;
  }
  .product__item-img {
    min-height: 180px;
  }
  .product__item-content {
    padding: 10px 20px;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-info {
    min-height: 65px;
    padding: 10px 20px;
  }
  .rate-star {
    margin-right: 5px;
  }
  .jq-ry-container {
    padding: 0;
  }
}

.product-page__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pagination__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a,
  span {
    width: 43px;
    height: 38px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #263238;
    font-size: 16px;
    font-weight: 500;
    &.active {
      background-color: #e74c3c;
      color: white;
    }
  }
}
